<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--External Scripts-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <!--External Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--Internal Styles-->
    <link rel="stylesheet" href="taskMap.css" />




    <title>TaskMap</title>
</head>
<body>
    <div id="app" class="container-wide">
        <header>
            <h1>TaskMap</h1>
        </header>
        <!--Task List-->
        <section id="main-container" class="row">
            <section id="tasks" class="col-md-3 col-sm-3">
                <h1 id="task-list-header">{{taskList.length}} Tasks</h1>
                <div id="task-list">
                    <task v-for="(task,iterator) in taskList"
                          v-bind:task="task"
                          v-bind:i="iterator"
                          v-on:remove-task="removeTask"
                          v-on:select-task="selectTask"
                          key="iterator">
                    </task>
                </div>
                <div id="task-list-end">
                    <button id="new-task" class="btn btn-success" v-on:click="newTask">Make New Task</button>
                </div>
            </section>


            <!--Task Details-->
            <section class="col-md-9 col-sm-9">
                <section id="task-details" class="row">
                    <!--<div >-->
                        <h1 class=" task-details-header col-md-12">Task Details:</h1>
                        <div class="col-md-6">
                            

                            <input class="cur-task title" type="text" v-model="selectedTask.title" placeholder="Enter task title" />
                            <input id="date-time-picker" class="cur-task" type="datetime-local" v-model="selectedTimeAsString">
                            <input class="cur-task location-name" v-model="selectedTask.locationName" placeholder="Enter location name" />
                            <input class="cur-task address" id="autocomplete" v-model="selectedTask.address" placeholder="Enter address" v-on:focus="geolocate()" type="text" />
                        </div>
                        <div class="col-md-6">
                            <textarea class="notes cur-task" v-model="selectedTask.description" placeholder="Enter notes"></textarea>
                        </div>
                    <!--</div>-->
                </section>
                <!--Map-->
                <section>
                    <div id="map"></div>
                </section>
            </section>
        </section>
    </div>
    <script src="/main.js"></script>
</body>
</html>