section{
    border: 1px grey solid;
}
header{
    height:5vh;
}
#task-list{
    height:90vh;
    overflow-y:scroll;
}

#task-list-end{
    background-color:grey;
    padding:10px;
    position:fixed;
    bottom: 3vh;
}

.task-in-list {
    border-bottom: 1px solid lightgrey;
    /*border-top: 1px solid grey;*/
    padding-bottom:10px;
}
.task-controls {
    text-align: right;
}

/*Overwritting bootstrap styles*/
.container-wide {
    padding: 0 50px;
}

li{
    font-size:2em;
}

/*Map Styles*/
#map {
    height: 75vh;
    width: 100%;
}